.warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
    margin-bottom: 12px;
    width: 180px;
  }

.error {
  padding-top: 12px;
  color: rgb(209, 127, 127);
}
  
.output {
  padding-top: 12px;
  color: rgb(53, 155, 139);
}

.login-btn {
    background-color: #757575;
    border: none;
    color: white;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:disabled {
    color: #c2c2c2;
    cursor: not-allowed;
  }
  
  .login-btn:hover:enabled {
    background-color: #fdfdfd; /* Green */
    color: #757575;
    border: 1px solid #757575;
  }

  .form-btn {
    background-color: #757575;
    border: none;
    color: white;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-btn:disabled {
    color: #c2c2c2;
    cursor: not-allowed;
  }
  
  .form-btn:hover:enabled {
    background-color: #fdfdfd; /* Green */
    color: #757575;
    border: 1px solid #757575;
  }

  .spa {
    background: #eaeaea;  
    font-family: 'Open Sans', sans-serif;
  }

  form {
    margin-top: 20px;
    border-radius: 5px;
    width:300px;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  p span {
    color: rgb(209, 127, 127);
  }

  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }

  i {
    color:#757575;
  }

  .contentform {
    padding: 15px 15px;
  }

  .fa-sign-out-alt {
    color: #757575;
    padding-left: 201px;
    cursor: pointer;
  }
  
  textarea {
    width: 260px;
  }

  input {
    width: 145px;
  }

  .ingredient-tip {
    color: rgb(209, 127, 127);
    font-family: Courier;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
  }